html {
    scroll-behavior: smooth;
      }
      *{margin:0;padding:0;}
    .text{color:blue;}
    #head{
       background:#2e2630;
       font-size:20px;
       color:white;height:580px;font-family:monospace;
    }
    #contact{
       background:#2e2630;
       font-size:20px;
       color:white;height:100px;font-family:monospace;
    }
    header
    {
        position: fixed;
    z-index: 1;
    width: 100%;
    opacity: .8;
    background-color: #2E2630;
     }
    .nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom:20px;
     }
    .title {
    display: flex;
    float: left;
    padding-left: 10px;
    padding-top: 20px;
    color: white;
     }
     .nav a
        {
           color:white; 
           text-decoration:none; 
           font-size:25px; 
           padding-right:20px;
           
        }
         a:hover
        {color: #A3395B;}
